/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Center the table and make it more beautiful */
.tb {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.table {
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

thead.table-dark {
    background-color: #343a40;
    color: #ffffff;
}

/* Table Head */
th {
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Table Body */
tbody td {
    text-align: center;
    padding: 12px;
    font-size: 13px;
}

/* Buttons styling */
button {
    border: none;
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
}

.editbtn{
    background-color: #28a745;
    color: white;
}
.editbtn:hover{
    background-color: #00ff3c;
}

.deletebtn {
    background-color: #fb031c96;
    color: #000000;
    text-decoration: solid;
}
.deletebtn:hover{
    background-color: #dc3545;
}

.svebtn {
    background-color: #007bff;
    color: white;
}

.cnlbtn {
    background-color: #6c757d;
    color: white;
}


.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
}

/* Status dropdown */
.dropdown-menu li:hover {
    background-color: #007bff;
    color: white;
}

/* Table Row Styles */
.tblrw {
    border-bottom: 1px solid #ddd;
}

.tblbdy tr {
    background-color: #fff;
}

.tblbdy tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Heading */
.heading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
}

/* Buttons and actions */
.d-grid {
    margin-top: 20px;
}

.btn-secondary {
    background-color: #007bff;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #0056b3;
}

