/* SystemUsersTable.css */

.table-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
}

.table-container {
    justify-content: center; 
    width: 90%;
    height: 70vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #d3c6c6;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #8b8484;
}

tr {
    background-color: #bab6b6;
}


tr:hover {
    background-color: #ffffff;
}

.btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.deletebtn {
    background-color: #ff0000;
    color: #fff;
}
.deletebtn:hover {
    background-color: #e9313193;
    color: #fff;
}

.updatebtn {
    background-color: blue;
    color: white;
}

.updatebtn:hover {
    background-color: rgba(3, 254, 28, 0.748);
    color: white;
}

.h1{
    background-color: #fff;
    text-align: center;
}

.dv1{
    margin-left: auto;
    margin-top: 15vh;
    padding-bottom: 0%;
    height: 20px;
}