.bg{
    background-color: rgb(24, 24, 24);
    background-repeat: no-repeat;
    background-size: cover
} 

.container{
    margin-top: 20%;
}

.card{
    margin-bottom: 10vh;
    border-spacing: 10vh;
    background-color: rgba(240, 248, 255, 0.455);
    color: rgba(0, 0, 0, 0.69);
}

.row1{
    margin-top: 0%;
    margin-bottom: 10vh;
    background-color: rgba(15, 15, 15, 0.5); /* Overlay color with transparency */
    background-image: url('../images/farm1.jpg');
    background-size: cover; /* Ensures the image covers the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: auto;
    height: 30vh;
   
    
}
.btn{
    padding: 0.5em 1em;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5em;
    font-size: 1.1em;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

.btn:hover{
    background-color: white;
    color: var(--bacground);
}
.btn btn-outline-primary{
    margin-bottom: 10vh;
}