/* SystemUsersTable.css */

.table-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: 100vw;
}

.table-container {
    justify-content: center; 
    width: 90%;
    height: 70vh;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #d3c6c6;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #8b8484;
}

tr {
    background-color: #bab6b6;
}


tr:hover {
    background-color: #ffffff;
}

.btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.deletebuttn {
    background-color: #e32b2b81;
    color: #000000;
}
.deletebuttn:hover {
    background-color: #ff1919;
    
}

.updatebtn {
    background-color: blue;
    color: white;
}

.updatebtn:hover {
    background-color: rgb(17, 178, 33);
    color: white;
}

.h1{
    background-color: #fff;
    text-align: center;
}

.dv1{
    margin-left: auto;
    margin-top: 15vh;
    padding-bottom: 0%;
    height: 20px;
}